:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    
    --main-color: #212121;
    --hover-color: #2196F3;
    --text-color-grey: #757575;
    --text-color-white: #FFFFFF;
    --backgroung-color-menu: #FFFFFF;
    --backgroung-color-section: #F5F4FA;
    --background-color-footer: #2F303A;
    --social-media-icon-color: #AFB1B8;
    --social-media-background-color: #FFFFFF;
    --social-media-icon-color-hover: #FFFFFF;
    --social-media-background-color-hover: #2196F3;
}

body {
    font-family: var(--main-font);
    color: var(--main-color);
    background-color: var(--backgroung-color-menu);
}

/* ========== TOTAL FORMAT 0 ========== */
/* *
*::after
*before {
    margin: 0;
    padding: 0;
} */
/* ========== END TOTAL FORMAT 0 ========== */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-style: normal;
}

.container {
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0px auto;
}

.section {
    /* width: 1600px;
    margin-left: auto;
    margin-right: auto; */
    padding: 94px 0;
}

.section-only-top {
    padding-top: 94px;
}

/* ========== COMPONENTS ========== */

.button {
    border: none;
    box-shadow: none;
    border-style: none;
    background-color: red;
}

/* ========== BUTTON in INDEX ========== */

.button-order {
    width: 200px;
    height: 50px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    margin-top: 30px;
    margin-bottom: 200px;
    letter-spacing: 0.06em;
    background-color: var(--hover-color);
    color: var(--text-color-white);
}

.button-order:hover,
.button-order:focus {
    cursor: pointer;
}

/* ========== BUTTON in PORTFOLIO ========== */

.navi-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi-button:hover,
.navi-button:focus {
    background-color: var(--hover-color);
    color: var(--text-color-white);
    /* shadow-middle */
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

/* ========== END COMPONENTS ========== */



/* ========== LOGO ========== */

.logo-header,
.logo-footer {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--main-color);
    text-decoration: none;
}

.logo-header-color-1,
.logo-footer-color-1 {
    color: var(--hover-color);
}

.logo-header-color-2 {
    color: #000000;
}

.logo-footer-color-2 {
    color: var(--text-color-white);
}

/* ========== END LOGO ========== */



/* ========== HEADER ========== */

.header .container {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header {
    border-bottom: 1px solid #ECECEC;
    padding: 0px;
    display: flex; 
    align-items: center;
}

.header .contact-list {
    margin-left: auto;
}

.logo-header {
    margin-right: 93px;
}

.navigation-list {
    display: flex;
    align-items: center;
}

.navigation-list > li:not(:last-child) {
    margin-right: 46px;
}

.contact-list,
.contact-list-item {
    display: flex;
    align-items: center;
    fill: var(--text-color-grey);
}

.contact-list > li:not(:last-child) {
    margin-right: 50px;
}

.navigation-link,
.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
}

.navigation-link {
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link,
.adress-link {
    display: flex;
    align-items: center;
    color: var(--text-color-grey);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-icon {
    margin-right: 10px;
}

.navigation-link:hover,
.navigation-link:focus {
    color: var(--hover-color);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
}

.navigation-list-item {
    
}

.active-navigation-list-item::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
}

.active-link {
    color: var(--hover-color);
}

/* ========== END HEADER ========== */



/* ========== HERO SECTION ========== */

.section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/hero-bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    margin: auto;
}

.section-hero-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    padding: 200px 252px 0px 252px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-white);
}

/* ========== END HERO SECTION ========== */

  

/* ========== DISCRIPTION SECTION ========== */

.discription-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

.discription-list-item {
    max-width: 270px;
}

.discription-icon {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
    background-color: var(--backgroung-color-section);
}

.discription-icon:hover {
    padding: 23px 98px;
    border: 2px solid var(--hover-color);
}

.discription-list-item-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
}

.discription-list-item-p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--text-color-grey);
}

/* ========== END DISCRIPTION SECTION ========== */



/* ========== ABOUT US SECTION ========== */

.about-us-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

.about-us-item {
    margin-top: 50px;
    max-width: 370px;   
}

.about-us-list-link-thumb {
    position: relative;
    background-color: rgba(47, 48, 58, 0.8);  
}

.about-us-list-link-thumb > .about-us-list-link-label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 27px 90px;
    background-color: rgba(47, 48, 58, 0.8);
    
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--text-color-white);
}

.section-about-us-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.about-us-item-img {
    object-fit: cover;
}

/* ========== END ABOUT US SECTION ========== */



/* ========== OUR TEAM SECTION ========== */

.section-team {
    background-color: var(--backgroung-color-section);
}

.section-team-list {
    display: flex;
    justify-content: center;
}

.section-team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

.section-team-item {
    box-shadow: 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-top: 50px;
    max-width: 270px;
}

.section-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-team-name {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 30px;
}

.section-team-p {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 16px;
    color: var(--text-color-grey)
}

.social-media-list {
    display: flex;
    padding: 0px 32px 30px 32px;
    align-items: center;
    justify-content: space-between;
}

.social-media-list-link:hover,
.social-media-list-link:focus {
    fill: var(--social-media-icon-color-hover);
    background-color: var(--social-media-background-color-hover);
}

.social-media-list-item {
}

.social-media-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-media-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-icon {
    width: 20px;
    height: 20px;
}

/* ========== END OUR TEAM SECTION ========== */



/* ========== OUR CLIENTS SECTION ========== */

.section-our-clients {
    display: flex;
    justify-content: center;
}

.section-our-clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
}

.section-our-clients-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    margin-top: 50px;
}

.section-our-clients-list-link {
    display: flex;
    max-width: 170px;
    max-height: 92px;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid var(--social-media-icon-color);
    fill: var(--social-media-icon-color);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-our-clients-list-link:hover,
.section-our-clients-list-link:focus {
    border: 1px solid var(--hover-color);
    fill: var(--hover-color);
}

/* ========== END CLIENTS SECTION ========== */



/* ========== FOOTER ========== */

.footer {
    display: flex;
    flex-direction: column;
    padding: 60px 0px 60px 15px;
    background-color: var(--background-color-footer);
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.adress {
    margin-top: 20px;
}

.adress-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.adress-list-item {
    display: flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
}

.adress-map {
    color: var(--text-color-white);
}

.adress-mail,
.adress-tel {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    padding-top: 9px;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
}

.call-to-action {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--backgroung-color-menu)
}

.footer-social-media-list {
    display: flex;
}

.footer-social-media-list-link:hover,
.footer-social-media-list-link:focus {
    background-color: var(--social-media-background-color-hover);
}

.footer-social-media-list-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-media-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--social-media-icon-color-hover);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.footer-social-media-icon {
    width: 20px;
    height: 20px;
}

.adress-link:hover,
.adress-link:focus {
    color: var(--hover-color);
}

.adress-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== END FOOTER ========== */



/* ========== WEBSITE: PORTFOLIO ========== */
/* ========== SECTION CATEGORIES ========== */

.menu {
    margin-bottom: 26px;
}

.categories-list {
    display: flex;
    justify-content: center;
}

.categories-item:not(:last-child) {
    margin-right: 8px;
}

.categories-pictures-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categories-pictures-item {
    border: 0px solid #eeeeee;
    margin-top: 30px;
    max-width: 370px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-pictures-item:hover,
.categories-pictures-item:focus {
    box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.categories-pictures-img {
    border: 0px solid #eeeeee;
}

.categories-discription {
    border: 1px solid #eeeeee;
    border-top: 0px solid #eeeeee;
}

.categories-pictures-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;
}

.categories-pictures-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    padding-left: 24px;
    margin-top: 4px;
    margin-bottom: 20px;
    color: var(--text-color-grey)
}

.categories-pictures-box {
    position: relative;
    overflow: hidden;
}

.categories-pictures-overlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 49px 45px 49px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-pictures-item .categories-pictures-overlay {
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.categories-pictures-box:hover .categories-pictures-overlay {
    transform: translateY(0);
}

.categories-pictures-overlay-p {
    font-size: 18px;
    line-height: 1.556;
    color: var(--text-color-white);
}

/* ========== END CATEGORIES SECTION ========== */


/* ========== BACKDROP ========== */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    opacity: 1;
    transition: opacity 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 528px;
    min-height: 581px;
    background-color: var(--backgroung-color-menu);
}

.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 7px;
    background-color: transparent;
    /* background-color: var(--backgroung-color-menu); */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    fill: black;
}

.is-hidden {
    opacity: 0;
    /* visibility: hidden; */
    pointer-events: none;
}

/* ========== END BACKDROP ========== */






/* ========== SECTION ========== */

/* ========== END SECTION ========== */
